{% extends "layouts/base.html" %}

{% block content %}
{% if form_submit or form_fields %}
<form class="form-horizontal col-md-8" action="{{ form_submit.url }}" method="{{ form_submit.method|default('post') }}">
    <div class="card-body">
        {% for field in form_fields %}
        <div class="form-group row" data-group="{{ field.group }}">
            <label for="" class="col-sm-2 col-form-label">{{ field.title }}
                {% if field.required %}
                <span style="color: #dc3545;">*</span>
                {% endif %}
            </label>
            <div class="col-sm-10">
                {% if field.type in ['email','number','password', 'hidden'] %}
                <input type="{{ field.type }}" name="{{ field.name }}" class="form-control"
                    placeholder="{{ field.placeholder }}" value="{{ field.value }}">

                {% elseif field.type == 'textarea' %}
                <textarea name="{{ field.name }}" class="form-control" placeholder="{{ field.placeholder }}"
                    rows="{{ field.rows|default(6) }}">{{ field.value }}</textarea>

                {% elseif field.type == 'radio' %}
                <div class="form-group clearfix">
                    {% for k, v in field.options %}
                    <div class="icheck-primary d-inline">
                        <input type="radio" name="{{ field.name }}" value="{{ k }}"
                            {% if field.value == k %}checked{% endif %} {% if field.group_change %}
                            data-group-name="{{ field.name }}_{{ k }}" {% endif %}>
                        <label for="">
                            {{ v }}
                        </label>
                    </div>
                    &nbsp;
                    {% endfor %}
                </div>

                {% else %}
                <input type="text" name="{{ field.name }}" class="form-control" id=""
                    placeholder="{{ field.placeholder }}" value="{{ field.value }}">

                {% endif %}
                <div class="form-text">{{ field.tip|raw }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary ajax-post">提交</button>
    </div>

</form>
{% endif %}
{% endblock %}

{% block script %}
<script>
    changeGroup();

    $('.icheck-primary').on('click', function () {
        var input = $(this).find('input');
        var name = input.attr('name');
        $('input[name="' + name + '"]').removeAttr('checked');
        input.attr('checked', true);

        changeGroup();
    });

    $('.ajax-post').on('click', submit);

    function changeGroup() {
        var groupNames = $('[data-group-name]');
        if (groupNames.length > 0) {
            groupNames.map(function (k, v) {
                var groupName = $(v).attr('data-group-name');
                var checked = $(v).attr('checked');
                var groupFields = $('[data-group="' + groupName + '"]');
                if (!checked) {
                    console.log(groupName)
                    groupFields.hide();
                } else {
                    groupFields.show();
                }
            })
        }
    }

    function submit() {
        var data = $('form').serialize();
        var url = $('form').attr('action');
        $.ajax({
            'url': url,
            'type': 'post',
            'dataType': 'json',
            'data': data,
            success: function (res) {
                if (res.code == 0) {
                    $('#success-tip .tip').html(res.message);
                    $('#success-tip').slideDown();
                    $('#success-tip .close').click(function () {
                        $('#success-tip').slideUp();
                    });
                    var wait = res.data.interval ? parseInt(res.data.interval) * 1000 : 1500;
                    setTimeout(function () {
                        if (res.data.redirect_url) {
                            window.location.href = res.data.redirect_url;
                        } else {
                            $('#success-tip').slideUp();
                        }
                    }, wait);
                } else {
                    $('#error-tip .tip').html(res.message);
                    $('#error-tip').slideDown();
                    $('#error-tip .close').click(function () {
                        $('#error-tip').slideUp();
                    });
                    var wait = res.data.interval ? parseInt(res.data.interval) * 1000 : 1500;
                    setTimeout(function () {
                        if (res.data.redirect_url) {
                            window.location.href = res.data.redirect_url;
                        } else {
                            $('#error-tip').slideUp();
                        }
                    }, wait);
                }
            },
            error: function () {
                $('#error-tip .tip').html('request error');
                $('#error-tip').slideDown();
                $('#error-tip .close').click(function () {
                    $('#error-tip').slideUp();
                });
            }
        });

        return false;
    }
</script>
{% endblock %}